#top-bar {
    background-color: #394b59;
}

#top-bar .bp3-icon {
    color:#ffffff;
}

.app-title {
    font-weight: bold;
    color:#ffffff;
}

.loading-row {
    display:flex;
    margin-top:15px;
    justify-content: flex-start;
    align-items:center;
}

.loading-icon {
    margin-right:10px;
}