.app {
  height:100%;
  background:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.file-contents {
  background:#efefef;
  min-height: 50px;
  width:100%;
  flex: 1;
  display: flex;
}

.file-sections {
  height:100%;
  background:#ffffff;
  border-right: 1px solid #aaaaaa;
  display: inline-block;
  overflow: auto;
}

.file-section-content {
  height:100%;
  flex: 1;
  overflow: auto;
}